<template>
  <div 
    v-if="display" 
    class="vfz-countdown" 
    ref="countdown">
    <div 
      class="vfz-countdown-panel" 
      ref="panel">
      <p class="vfz-countdown-title">{{ countdownTitle }}</p>
      <div class="vfz-countdown-full-date">
        <div 
          v-show="displayDays > 0" 
          class="vfz-countdown-date">
          <div class="vfz-countdown-date-number">{{ displayDays }}</div>
          <div 
            v-if="displayDays === 1" 
            class="vfz-countdown-date-name">
              Dag
            </div>
          <div v-else class="vfz-countdown-date-name">Dagen</div>
        </div>
        <div 
          v-show="displayDays > 0" 
          class="vfz-countdown-colon">
            :
        </div>
        <div class="vfz-countdown-date">
          <div class="vfz-countdown-date-number">{{ displayHours }}</div>
          <div 
            v-if="displayHours === 1" 
            class="vfz-countdown-date-name">
              Uur
          </div>
          <div v-else class="vfz-countdown-date-name">Uren</div>
        </div>
        <div class="vfz-countdown-colon">:</div>
        <div class="vfz-countdown-date">
          <div class="vfz-countdown-date-number">{{ displayMinutes }}</div>
          <div class="vfz-countdown-date-name">Min</div>
        </div>
        <div class="vfz-countdown-colon">:</div>
        <div class="vfz-countdown-date">
          <div class="vfz-countdown-date-number">{{ displaySeconds }}</div>
          <div class="vfz-countdown-date-name">Sec</div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    name: 'Countdown',
    data() {
      return {
        display: true,
        countdownTitle: 'Coming Soon',
        displayDays: 0,
        displayHours: 0,
        displayMinutes: 0,
        displaySeconds: 0
      }
    },
    computed: {
      seconds: () => 1000,
      minutes() {
        return this.seconds * 60;
      },
      hours() {
        return this.minutes * 60;
      },
      days() {
        return this.hours * 24;
      }
    },
    mounted() {
      this.remainDate()
    },
    methods: {
      remainDate() {
        const timer = setInterval(() => {
          const now = new Date();
          const end = new Date(2022, 5, 25, 23, 0, 0, 0);
          const distance = end.getTime() - now.getTime();

          if (distance < 0) {
            clearInterval(timer)
            return;
          }

          this.displayDays = Math.floor((distance / this.days));
          this.displayHours = Math.floor((distance % this.days) / this.hours);
          this.displayMinutes = Math.floor((distance % this.hours) / this.minutes);
          this.displaySeconds = Math.floor((distance % this.minutes) / this.seconds);
        }, 1000);
      }
    }
  }
</script>

<style lang="scss">
// Imported fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;600&family=Roboto+Mono:wght@100;300;400;700&display=swap');

$main-text-color: white;

  .vfz-countdown {
    background-image: url('../images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    position: fixed;
    max-width: 900px;
    box-shadow: 2px 2px 7px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 50px;
    text-align: center;

    .vfz-countdown-panel {
      flex-direction: columns;

      .vfz-countdown-title {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 75px;
        font-weight: 200;
        color: $main-text-color;
      }
    }
  }

  .vfz-countdown-full-date {
    display: flex;
    flex-direction: row;
    justify-content: space;
    color: $main-text-color;

    .vfz-countdown-date-number {
      font-family: 'Roboto Mono', monospace;
      font-weight: 700;
      font-size: 100px;
    }

    .vfz-countdown-date-name {
      font-family: 'Roboto Mono', monospace;
      font-size: 30px;
      font-weight: 300;
    }

    .vfz-countdown-colon {
      font-size: 30px;
      display: flex;
      align-items: center;
    }
  }

  .vfz-countdown-date,
  .vfz-countdown-colon {
    padding: 20px;
  }

  // Responsive design
  $small: 300px;
  $medium: 750px;
  @media screen and (min-width: $small) and (max-width: $medium) {
    .vfz-countdown {
      max-width: 400px; 
    }

    .vfz-countdown-date {
      padding: 5px;
    }

    .vfz-countdown-colon {
      padding: 2px;
    }

    .vfz-countdown-title {
        font-size: 40px !important;
      }

    .vfz-countdown-date-number {
      font-size: 30px !important;
    }

    .vfz-countdown-date-name {
      font-size: 20px !important;
    }
  }
</style>