<template>
  <div>
    <div id="app">
      <Countdown />
    </div>
  </div>
</template>

<script>
import Countdown from './components/Countdown.vue'

export default {
  name: 'App',
  components: {
    Countdown,
  },
}
</script>

<style lang="scss">
.main-container {
  min-height: 100vh;
  max-width: 100%;
  background-image: url('./images/background-image-blur.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
